#MenuUp{
  background-color: #050517;
  position: sticky;
  width: 100%;
  height: 3rem;
  top: 0;
  left: 0;
}
#MenuUp{
  background-color: #050517;
  position: sticky;
  width: 100%;
  height: 3rem;
  bottom: 0;
  left: 0;
}
#ProfMenuUp{
  width: 20rem;
  height: inherit;
}
.App{
  background-color: #0f0f2d;
  color: #c9c7da;
  width: 100vw;
}
#MenuUpAvatar{
  width: auto;
  height: inherit;
  border-radius: 50%;
}
#MenuUpButton{
  height: inherit;
  width: 3rem;
  padding:      0;
  display:      inline;
}
#MainBlock{
  top: 3rem;
  height: 5000px;
}
#MenuUpSpan{
  height: inherit;
}