#MenuUp{
  background-color: #050517;
  position: sticky;
  display:      flex;
  width: 100%;
  height: 3rem;
  top: 0;
  left: 0;
}
#MenuDown{
  background-color: #050517;
  position: sticky;
  width: 100%;
  height: 3rem;
  bottom: 0;
  left: 0;
}
#ProfMenuUp{
  width: calc(17rem+10px);
  height: inherit;
}
.App{
  background-color: #0f0f2d;
  color: #c9c7da;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#MenuUpAvatar{
  width: auto;
  height: inherit;
  border-radius: 100%;
  border:       #c9c7da solid 0px;
  border-width:     0px 3px 0px 0px;
  margin-right: 0.5rem; 
}
#MenuUpButton{
  height: inherit;
  width: 3rem;
  padding:      0;
  display:      inline;
  border-width:     0px 1px 0px 1px;
}
#MenuUpButton:hover{
  background-color:   #0f0f2d;
}
#MainBlock{
  overflow-y: scroll;
  top: 3rem;
  width: 100vw;
  height: calc(100vh-6rem);
}
#MenuUpSpan{
  height: inherit;
  width: 10rem;
  margin-right: 0.5rem; 
}