#ProfileHeader{
	position: relative;
	width: 100%;
	height: 20%;
}
#ProfileAvatar{
	width: calc(17rem+10px);
	border: solid #c9c7da 1px;
}
#ProfileDesc{
	width: calc(100%-17rem-11px);
	height: calc(17rem+11px);
	border: solid #c9c7da 1px;
	border-width: 0 0 1px 0;
}